body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.grid-header {
  color: black;
  font-size: 1.2rem;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: green;
}
